
.content {
  width: 400px;
  padding: 20px;
  overflow: hidden;
}

.content img {
  margin-right: 15px;
  float: left;
  height: 50px;
}

.content h3,
.content p{
  margin-left: 15px;
  display: block;
  margin: 19px 0 0 0;
}



.featured-posts {
  height: 150px;
  margin: 5px 10px 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-posts h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-posts h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}

// HomePage Post
.home-post {
  height: 650px;
  margin: 5px 10px 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-post h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.home-post h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.home-post h4 {
  top: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.home-post h4 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.home-post span a {
  color: white;
}
.home-post h1 {
  margin: 10px;
}

.intro {
  margin: 50px;
  text-align: center;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
