---
layout: page
title: Podcasts
---
All Things Cricket is a talk show that features sportspersons and anchors, experts from the sport themselves give their opinion on everything that is cricket. 

{% for post in site.categories.podcasts %}
<a href="{{ site.github.url }}{{ post.url }}">
  <div class="featured-posts" 
  {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}
  {% if post.bgcolor %}style="background-color:{{ post.bgcolor }}"{% endif %}
  >
    <h2><span>{{ post.title }}</span></h2>
  </div>
</a>
{% endfor %}
