---
layout: default
title: Home
---

<div class="intro">
  This blog takes you through my personal and professional interests. 
  Watch this space for all things data science, cricket, debating and 
  public speaking.
</div>

<article>
  <a href="{{ site.github.url }}{{ site.posts.first.url }}">
    <div class="home-post" {% if site.posts.first.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ site.posts.first.image }})"{% endif %}>
      <h4><span>FEATURED POST</span></h4>
      <h2><span>{{ site.posts.first.title }}</span></h2>
    </div>
  </a>
</article>




